<!<!doctype html>
<html xmlns:th="http://wwww.thymeleaf.org">
    <head>
        <title>Quản lý khóa luận</title>
    <th:block th:replace="/base/base :: bootstrap" ></th:block>
</head>
<body>
    <div th:replace="/base/base :: header"></div> 
    <main>
        <div class="container">
            <h1>Quản lý khóa luận</h1>
            <a th:href="@{/theses/add}" class="btn btn-info mt-2">Thêm khóa luận</a>
            <a th:href="@{/evaluation_criteria_collections}" class="btn btn-info mt-2">Quản lý các bộ tiêu chí chấm điểm khóa luận</a> 
            <a th:href="@{/evaluation_criterias}" class="btn btn-info mt-2">Quản lý các tiêu chí</a>
            <hr/>
            
            <div th:if="${errorMessage}" class="alert alert-danger" role="alert">
                <p th:text="${errorMessage}"></p>
            </div>
            
            <form th:action="@{/theses}">
                <div class="mb-3 mt-3">
                    <input type="text" class="form-control" name="title" placeholder="Tiêu đề" />
                </div>
                <div class="mb-3 mt-3">
                    <button class="btn btn-info" type="submit">Tìm kiếm</button>
                </div>
            </form>
            <hr  />   
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Tiêu đề</th>
                        <th>Mô tả</th>
                        <th>Trạng thái</th>
                        <th>Giảng viên phản biện</th>
                        <th>Bộ tiêu chí chấm điểm</th>
                        <th>Giảng viên hướng dẫn</th>
                        <th>Sinh viên thực hiện</th>
                        <th>Hội đồng chấm điểm</th>
                        <th>Tài liệu</th>
                        <th>Hành động</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="thesis: ${theses}">
                        <td th:text="${thesis.title}"></td>
                        <td th:text="${thesis.description}"></td>
                        <td th:text="${thesis.status}"></td>
                        <td th:text="${thesis.reviewerId != null ? thesis.reviewerId.getId() : ''}"></td>
                        <td th:text="${thesis.evaluationCriteriaCollectionId != null ? thesis.evaluationCriteriaCollectionId.getId() : ''}"></td>
                        <td>
                            <span th:if="${thesis.lecturers != null and !thesis.lecturers.isEmpty()}" th:text="${thesis.lecturers.size() + ' giảng viên'}"></span>
                        </td>
                        <td>
                            <span th:if="${thesis.students != null and !thesis.students.isEmpty()}" th:text="${thesis.students.size() + ' sinh viên'}"></span>
                        </td>
                        <td th:text="${thesis.committeeId != null ? thesis.committeeId.getId() : ''}"></td>
                        <td>
                            <a th:if="${thesis.fileUrl != null}" th:href="${thesis.fileUrl}" target="_blank" class="btn btn-sm btn-primary">Xem tài liệu</a>
                        </td>
                        <td>
                            <a class="btn btn-danger btn-sm" th:onclick="'deleteItem(\''+@{/api/theses/}+'\','+${thesis.id}+')'">Xóa</a>
                            <a class="btn btn-success btn-sm" th:href="@{'/theses/' + ${thesis.id}}">Cập nhật️</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="text-center mb-2">
            <a th:if="${page > 0}" th:href="@{/theses(page=${page + 1})}" class="btn btn-info btn-lg mt-3">Xem thêm</a>
        </div>
    </main>
    <div th:replace="/base/base :: footer"></div>
    <script th:src="@{/js/deleteItem.js}"></script>
</body>
</html>
