<!<!doctype html>
<html xmlns:th="http://wwww.thymeleaf.org">
    <head>
        <title>Quản lý các bộ tiêu chí chấm điểm khóa luận</title>
    <th:block th:replace="/base/base :: bootstrap" ></th:block>
</head>
<body>
    <div th:replace="/base/base :: header"></div> 
    <main>
        <div class="container">
            <h1>Quản lý bộ tiêu chí chấm điểm khóa luận</h1>
            <a th:href="@{/evaluation_criteria_collections/add}" class="btn btn-info mt-2">Thêm bộ tiêu chí chấm điểm khóa luận</a>
            
            <form th:action="@{/evaluation-criteria-collections}">
                <div class="mb-3 mt-3">
                    <input type="text" class="form-control" name="name" placeholder="Name" />
                </div>
                <div class="mb-3 mt-3">
                    <button class="btn btn-info" type="submit">Tìm kiếm</button>
                </div>
            </form>
            <hr  />   
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Tên bộ tiêu chí</th> 
                        <th>Mô tả</th>
                        <th>Người tạo</th>
                        <th></th>

                    </tr>
                </thead>
                <tbody>
                    <tr th:each="collection : ${collections}">
                        <td th:text="${collection.id}"></td>
                        <td th:text="${collection.name}"></td>
                        <td th:text="${collection.description}"></td>
                        <td th:text="${collection.createdByName != null ? collection.createdByName : 'N/A'}"></td>
                        <td>
                            <a class="btn btn-danger btn-sm" th:onclick="'deleteItem(\''+@{/api/evaluation_criteria_collections/}+'\','+${collection.id}+')'">Xóa</a>
                            <a class="btn btn-success btn-sm" th:href="@{'/evaluation_criteria_collections/' + ${collection.id}}">Cập nhật️</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="text-center mb-2">
            <a th:if="${currentPage > 0}" th:href="@{/evaluation_criteria_collections(page=${currentPage + 1}, name=${param.name})}" class="btn btn-info btn-lg mt-3">Xem thêm</a>
        </div>


    </main>
    <div th:replace="/base/base :: footer"></div>
    <script th:src="@{/js/deleteItem.js}"></script>
</body>
</html>
